{#- The very root of all templates, in compliance with twbs4 best practices -#}

{#- Indenting this file differently will break the source code cleanliness -#}

{%- block root_doctype -%}
<!doctype html>
{%- endblock %}

<html lang="{{ app_language|default('en') }}">
<head>

{% block root_meta %}{% endblock %}

  <title>
    {%- block root_title -%}
      {{- app_title|default('Home') -}}
      {% if page_title is defined %}
        {{- ' - ' ~ page_title -}}
      {% endif %}
    {%- endblock -%}
  </title>

{% block root_styles %}{% endblock %}

{% block root_head_scripts %}{% endblock %}
</head>
<body class="{% block body_attributes %}{% endblock %}">

{% block root_content %}{% endblock %}

{% block root_scripts %}{% endblock %}
</body>
</html>
