{#- The very root of all templates, in compliance with twbs4 best practices -#}

{#- Indenting this file differently will break the source code cleanliness -#}

{%- block doctype -%}
<!doctype html>
{%- endblock %}

<html lang="{{ app_language|default('en') }}">
<head>

{% block meta %}{% endblock %}

  <title>
    {%- block title -%}
      {{- app_title|default('Spider.wtf') -}}
      {% if page_title is defined %}
        {{- ' - ' ~ page_title -}}
      {% endif %}
    {%- endblock -%}
  </title>

{% block styles %}{% endblock %}

{% block head_scripts %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
